
<div class="sidebar-sticky">
  <ul class="nav flex-column my-2">
    <li class="nav-item">
      <%=link_to "Dashboard", employer_dashboard_path, class:'nav-link'%>
    </li>
    <li class="nav-item">
      <%=link_to "My Jobs", jobs_index_path, class: 'nav-link'%>
    </li>
    <li class="nav-item nav-link">
      <%=link_to "My Applicants", booking_index_path %> <a style="font-size: 10px; color: white; background-color: red; border-radius: 3px; padding: 4px"><%= render partial: '/navbar/new_applicant_count' %></a>
    </li>
    <li class="nav-item">
      <div class="btn-group">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Analysis</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"><%= link_to "Applicant Analysis", employer_applicant_analysis_path, class: 'nav-link' %></a>
          <a class="dropdown-item"><%= link_to "Follower Analysis", employer_follower_analysis_path, class: 'nav-link' %></a>
          <a class="dropdown-item"><%= link_to "Job Analysis", employer_job_analysis_path, class: 'nav-link' %></a>
          <a class="dropdown-item"><%= link_to "Review Analysis", employer_review_analysis_path, class: 'nav-link' %></a>
        </div>
      </div>
    </li>
  </ul>
</div>
