<nav class="navbar navbar-expand-lg navbar-light bg-white card">
  <div class="container">
    <%= link_to root_path, class:'navbar-brand' do %>
      <img src="/assets/jobcrop_logo.png" width="30" height="30" alt="">
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <%= react_component("SearchWindowExtender", {}, class: 'col-7') %>

      <ul class="navbar-nav ml-auto">
        <% if current_user.jobhunter %>
        <li class="nav-item">
          <div class="dropdown">
            <i class="fas fa-crop-alt nav-link" id="appliedJobs" style="font-size:22px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="appliedJobs" style='width:400px;'>
              <div class="card bg-light">
                <div class="card-body">
                  <p class="m-0 text-muted font-weight-bold text-center">Your Applied Jobs</p>
                </div>
              </div>
              <ul class="list-group">
                <%current_user.jobhunter.bookings.includes(:job).each do |booking|%>
                  <%=link_to company_job_path(booking.job.company.id, booking.job.id), class:'nav-link p-0 text-dark' do%>
                  <li class="list-group-item">
                      <p class="">Applied for: <span class="font-weight-bold"><%=booking.job.title%></span></p>
                      <p class="text-muted">Company: <%=booking.job.company.name%></p>
                      <p class="text-muted">Applied on: <%=booking.created_at%></p>
                  </li>
                  <% end%>
                <%end%>
              </ul>
            </div>
          </div>
        </li>
        <% end %>
        <li class="nav-item">
          <%=link_to conversation_index_path do %>
          <i class="fas fa-envelope nav-link" style="font-size:22px;"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <div class="dropdown">
              <%=image_tag(
                current_user.avatar_url(:thumb_navbar),
                class: 'rounded-circle nav-link',
                data: {toggle: 'dropdown'},
                aria: {haspopup: 'true', expanded: 'false'},
                style: "width:40px;height:40px;"
              )%>
            <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="user-settings">
              <%= link_to "My Profile", user_path(current_user.id), method: :get, class: 'dropdown-item' %>
              <%= link_to "Sign Out", sign_out_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <% if current_user.employer.nil? %>
            <%=link_to "For Employers", employer_index_path, class:'nav-link'%>
          <% else %>
            <%=link_to "Dashboard", employer_dashboard_path, class: 'nav-link' %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user.employer.nil? %>
            <%=link_to "Post Jobs for free", employer_index_path, class:'btn btn-outline-primary'%>
          <% else %>
            <%=link_to "Post Jobs for free", new_company_job_path(current_user.employer.company.id), class: 'btn btn-outline-primary' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
