
<%= render partial: "navbar/employer_navbar" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-2 bg-white border-right">
			<%=render partial: 'navbar/employer_sidebar'%>
		</div>
		<div class="col-10 py-3 container-fluid">
			<h5>Applicant Analysis</h5>
			<hr/>
			<p>Applicants: <%= @jobhunter_data.count %></p>

			<div class="row">
				<% @database.each_with_index do |data,index| %>
					<div class="col-3 mb-3">
						<div class="card">
							<div class="card-body">
								<p class="card-title"><%= @data_title[index] %></h3>
								<%= pie_chart(data, messages: {empty: "No data"} ) %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>