<div class="p-2 flex-grow-1">
  <div id="conversation-main">
    <div id="conversation-body">
      <%= render @conversation.personal_messages %>
    </div>
  </div>
</div>
<div class="border p-2 bg-light new-message">
  <%= form_for @new_message, remote: true do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <%= f.submit "Send", class:'btn btn-primary d-block ml-auto ' %>
  <% end %>
</div>
