<%@results.each do |r|%>
  <%r.each_with_index do |result, index|%>
  <li>
    <div id="<%=result[:id]%>-<%=index%>"class="job-list card my-2 <%=result[:id]%>">
      <div class="row">
        <div class="col-2">
          <div class="card-body">
            <img src="<%=result[:image]%>" class="d-block mx-auto" style="width:55px;height:55px;"/>
            <p class="my-2 border p-1 font-weight-bold reviews text-center small-font">120 <i class="far fa-smile"></i></p>
          </div>
        </div>
        <div class="col-6">
          <div class="card-body pl-0">
            <a href="<%=result[:link]%>" target="_blank">
              <h5 class="text-primary card-title mb-1"><strong><%=result[:title]%></strong></h5>
            </a>
            <p class="my-1 small-font"><%=result[:company]%></p>
            <p class="my-1 text-muted small-font"><%=result[:location]%></p>
          </div>
        </div>
        <div class="col-4">
          <div class="card-body">
            <a href="<%=result[:link]%>" target="_blank" class="d-block ml-auto btn <%=result[:class]%> font-weight-bold">Apply at <%=result[:site]%></a>
            <br/>
            <br/>
            <p class=" m-0 mt-2 text-center text-muted"><%=result[:created_at]%></p>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
<% end %>
