<h1><%= @job.name %></h1>
<p><%= @company.name %></p>

<h2>Description</h2>
<p><%= @job.description %></p>

<h2>Responsibility</h2>
<p><%= @job.responsibility %></p>

<p><strong>Location:</strong> <%= @job.work_location %> </p> 
<p><strong>Salary:</strong> $ <%= @job.salary %></p>
<p><strong>Work hour:</strong> <%= @job.work_hour_start %> to <%= @job.work_hour_end %></p>

<hr>

<h2>Company Overview</h2>
<p><%= @company.overview %></p>

<p><strong>Industry:</strong> <%= @company.industry %></p>
<p><strong>Company size:</strong> About <%= @company.company_size %> people</p>
<p><strong>Website:</strong> <%= @company.website %></p>
<p><strong>Phone number:</strong> <%= @company.telephone %></p>

<h2>Why Join Us?</h2>
<p><%= @company.join_us %></p>