<%= form_with(scope: :language, url: user_languages_path(@user.id), method: 'POST' ) do |f| %>
  <div class="form-group">
    <%=f.label "Language"%>
    <%=f.text_field :dialect, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%=f.label "Native"%>
    <%=f.check_box :native%>
  </div>
  <div class="form-group">
    <%=f.label "Writing"%>
    <%= f.select(:writing,
                  options_for_select([
                    ['Fluent', 2],
                    ['Good', 1],
                    ['Not Good', 0],
                  ]), {},
                  {class: 'custom-select w-50 d-block mr-auto'}) %>
  </div>
  <div class="form-group">
    <%=f.label "Speaking"%>
    <%= f.select(:speaking,
                  options_for_select([
                    ['Fluent', 2],
                    ['Good', 1],
                    ['Not Good', 0],
                  ]), {},
                  {class: 'custom-select w-50 d-block mr-auto'}) %>
  </div>
  <%=f.submit "Add new language", class: 'btn btn-primary btn-sm'%>
<% end %>
