<div class="col-8">
  <div class="card">
    <div class="card-body">
      <h5 class="m-0">
        <strong>Recent Updates</strong>
      </h5>
      <p class="text-muted m-0">
        What's been happening lately!
      </p>
    </diV>
  </div>
  <div class="my-3 searchresult-container-home">
    <ul class="list-unstyled">
      <% @timeline.uniq.map do |obj| %>
        <% if obj.is_a?(Job)%>
        <li>
          <div class="card my-2">
            <div class="row">
              <div class="col-2">
                <div class="card-body">
                  <%=image_tag(obj.company.logo_url, class:'d-block mx-auto', style: 'width:55px;height:55px;')%>
                </div>
              </div>
              <div class="col-7">
                <div class="card-body pl-0">
                  <h5 class="text-primary card-title mb-1"><strong><%=obj.title%></strong></h5>
                  <p class="my-1 small-font"><%=obj.company.name%></p>
                  <p class="my-1 text-muted small-font"><%=obj.location%></p>
                </div>
              </div>
              <div class="col-3">
                <div class="card-body">
                  <button class="btn btn-primary">Apply Now</button>
                  <br/>
                  <br/>
                  <p class=" m-0 mt-2 text-center text-muted"><%=obj.updated_at.strftime('%b %e')%></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% elsif obj.is_a?(Company)%>
        <li>
          <div class="card my-2">
            <div class="row">
              <div class="col-2">
                <div class="card-body">
                  <%=image_tag(obj.logo_url, class:'d-block mx-auto', style: 'width:55px;height:55px;')%>
                  <p class="my-2 border p-1 font-weight-bold reviews text-center small-font"><%=obj.employer.reviews.count%> <i class="far fa-smile"></i></p>
                </div>
              </div>
              <div class="col-7">
                <div class="card-body pl-0">
                  <h5 class="text-primary card-title mb-1"><strong><%=obj.name%></strong></h5>
                  <p class="my-1 text-muted small-font"><%=obj.location%></p>
                </div>
              </div>
              <div class="col-3">
                <div class="card-body px-2">
                  <button class="btn btn-primary">View Company</button>
                  <br/>
                  <br/>
                  <p class=" m-0 mt-2 text-center text-muted"><%=obj.updated_at.strftime('%b %e')%></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
