<%= form_with(scope: :project, url: user_project_path(@user.id, @project.id), method: 'PATCH' ) do |f| %>
  <div class="form-group">
    <%=f.label "Project Name"%>
    <%=f.text_field :name, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%=f.label "Description"%>
    <%=f.text_area :description, class: 'form-control', rows: '4'%>
  </div>
  <%=f.submit "Apply", class: 'btn btn-primary btn-sm'%>
  <%= link_to "Cancel", user_path(@user), class: 'mx-2' %>
<% end %>
