<div class="about-me-section">
  <div class="card">
    <div class="card-body">
      <h5 class="font-weight-bold m-0">About Me</h5>
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body about-me">
      <p class="card-text">
        <%if @user.about_me%>
          <%= @user.about_me %>
        <% else %>
          <p class="text-muted">Write something about yourself.</p>
        <% end %>
        <% if current_user.own_profile?(@user) %>
          <%=link_to user_edit_about_me_path(@user.id), id: "editDetail", remote:true do%>
            <i class="edit fas fa-pen"></i>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="card details">
    <div class="card-body">
      <p class="card-title m-0 font-weight-bold">Additional Information</p>
      <hr/>
      <ul class="contact-details list-unstyled">
        <li>
          <div id="location-<%=@user.id%>" class="my-4">
            <p class="">
              <% if @user.address %>
                <%=@user.location%>
              <% else %>
                <span class="text-muted">No Address.</span>
              <% end %>
              <% if current_user.own_profile?(@user) %>
                <%=link_to user_edit_location_path(@user.id), id: "editLocation", remote:true do%>
                  <i class="edit fas fa-pen"></i>
                <% end %>
              <% end %>
            </p>
          </div>
        </li>
        <li>
          <div id="birthday-<%=@user.id%>">
            <p class="">
            <% if @user.birthday %>
              <%=@user.birthday%>
            <% else %>
              <span class="text-muted">No Birthday.</span>
            <% end %>
            <% if current_user.own_profile?(@user) %>
              <%=link_to user_edit_birthday_path(@user.id), id: "editBirthday", remote:true do%>
                <i class="edit fas fa-pen"></i>
              <% end %>
            <% end %>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
