<div id="create-education" class="card my-2">
  <div class="card-body">
    <p class="card-title font-weight-bold">New Education</p>
    <%= form_with(scope: :education, url: user_educations_path(@user.id), method: 'POST' ) do |f| %>
      <%= f.text_field :institute, placeholder: "Institute", class: 'form-control bg-light border-0 my-2' %>
      <%= f.select(:qualification, options_for_select([
        ['Qualification', '0'],
        ['High School', 'High School'],
        ['Diploma', 'Diploma'],
        ['Degree', 'Degree'],
        ['Bachelors', 'Bachelors'],
        ['PhD', 'PhD']
        ]), {},
        {class: 'custom-select bg-light border-0 text-secondary'}) %>
      <%= f.text_field :location, placeholder: "Location", class: 'form-control bg-light border-0 my-2' %>
      <%= f.text_field :major, placeholder: "Major", class: 'form-control bg-light border-0 my-2' %>
      <div class="form-inline">
        <p class="m-0 text-muted mr-2">Graduation Year: </p>
        <%= f.date_field :graduation_year, class: 'form-control bg-light border-0 my-2' %>
        <p class="m-0 mx-2 text-muted">Currently studying?</p>
        <%= f.check_box :currently_studying %>
      </div>
      <%= f.text_area :description, placeholder: "Description", class: 'form-control bg-light border-0 my-2' %>
      <%= f.submit "Apply", class: 'btn btn-outline-secondary my-2' %>
      <%= link_to "Cancel", user_path(@user), class: 'mx-2' %>
    <% end %>
  </div>
</div>
