<div class="user-header">
  <div class="card">
    <div class="card-body">
      <div class="edit-photo-container">
        <%=image_tag(@user.image_url, class:'rounded-circle d-block mx-auto mb-3', style: "width:150px;height:150px;")%>
        <% if current_user.own_profile?(@user) %>
        <a href="#" data-toggle="modal" data-target="#uploadAvatar" class="edit-photo nav-link font-weight-bold text-light bg-dark px-1">Edit Photo</a>
        <% end %>
      </div>
      <h5 class="user-name font-weight-bold text-center">
        <%=@user.name%>
        <% if current_user.own_profile?(@user) %>
          <%=link_to user_edit_name_path(@user.id), id: "editName", remote:true do%>
            <i class="edit fas fa-pen"></i>
          <% end %>
        <% end %>
      </h5>
    </div>
    <hr class="my-1"/>
    <ul class="nav mx-auto">
      <li class="nav-item mx-4">
        <%= link_to "Experiences", user_experiences_path(@user.id), class: 'nav-link', remote:true %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Education", user_education_path(@user.id), class: 'nav-link', remote:true %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "About Me", user_about_me_path(@user.id), class: 'nav-link', remote:true %>
      </li>
    </ul>
  </div>
</div>

<%= render partial: 'users/edit/edit_photo' %>

<script>
  $('.user-name').children('#editName').hide();
  $('.user-name').on('mouseover', function(){
    $(this).children('#editName').show();
  }).on('mouseleave', function(){
    $(this).children('#editName').hide();
  });

  $('.edit-photo').hide();
  $('.edit-photo-container').children().on('mouseover', function(){
    $('.edit-photo').show();
  }).on('mouseleave', function(){
    $('.edit-photo').hide();
  });
</script>
