<div class="card mb-2 bg-light">
  <div class="card-body">
    <h5 class="card-title font-weight-bold m-0">Jobs by <%=@company.name%> <span class="text-muted">(<%=@company.jobs.count%>)</span></h5>
    <hr/>
    <div class="jobs-carousel">
      <%@company.jobs.each do |job| %>
        <%=link_to company_job_path(job.company.id, job.id), class: 'nav-link p-0', target: '_blank' do %>
        <div class="card job-carousel-card">
          <div class="card-body">
            <p class="text-center medium-font"><%=job.title%></p>
            <hr/>
            <p class="medium-font"><%=truncate(job.location, length: 40)%></p>
            <p class="medium-font text-muted"><%=number_to_currency(job.salary, unit: 'RM', precision: 0)%></p>
          </div>
          <div class="card-footer">
            <p class="m-0 small-font"><%=job.created_at.strftime('%b %e')%></p>
          </div>
        </div>
        <% end %>
      <%end%>
    </div>
  </div>
</div>
<div class="card my-2">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Company Background</h5>
    <p class="card-text"><%= sanitize @company.background %></p>
  </div>
</div>
