<%= render partial: "navbar/employer_navbar" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-2 bg-white border-right">
			<%=render partial: 'navbar/employer_sidebar'%>
		</div>
		<div class="col-10 py-3">
			<div class="dashboard-tab">
				<div class="grid-menu">
					<h4>Dashboard</h4>
					<hr/>
					<div class="row">
						<div class="col-3">
							<%=link_to company_index_path, class:'nav-link m-0 p-0' do%>
								<div class="card" style="height:290px;">
									<%=image_tag(@company.logo_url, style: 'height:225px;')%>
									<div class="card-body">
										<h5 class="card-title text-center m-0">My Company</h5>
									</div>
								</div>
							<% end %>
						</div>
						<div class="col-3">
							<%=link_to new_company_job_path(@company.id), class:'nav-link m-0 p-0' do%>
								<div class="card" style="height:290px;">
									<%=image_tag('/assets/pexels-photo-936081-compressor.jpeg', style: 'height:225px;')%>
									<div class="card-body">
										<h5 class="card-title m-0 text-center">Post A Job</h5>
									</div>
								</div>
							<% end %>
						</div>
						<div class="col-3">
							<%=link_to employer_applicant_analysis_path, class:'nav-link m-0 p-0' do%>
								<div class="card" style="height:290px;">
									<%=image_tag('/assets/pexels-photo-1446319-compressor.jpeg', style: 'height:225px;')%>
									<div class="card-body">
										<h5 class="card-title m-0 text-center">Analysis</h5>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="timeline mt-3">
					<h4>Reviews <span class="text-muted">(<%=@company.employer.reviews.count%>)</span></h4>
					<hr/>
					<ul class="list-group reviews-timeline">
						<%@company.employer.reviews.includes(:jobhunter).limit(6).order(created_at: :desc).each do |review|%>
							<%=link_to user_path(review.jobhunter.user.id), class:'nav-link p-0 text-dark', target: '_blank' do %>
								<li class="list-group-item">
									<div class="row">
				            <div class="col-2">
											<%=image_tag(review.jobhunter.user.avatar_url, style:'height:100px;', class:'m-auto d-block')%>
				            </div>
				            <div class="col-8">
											<h5 class="card-title font-weight-bold text-primary"><%= review.jobhunter.user.name %></h5>
											<p class="mb-2 card-subtitle text-muted">Rated: <span class="font-weight-bold"><%=review.rating%> stars</span></p>
											<p class="m-0 card-text"><%=review.description%></p>
				            </div>
				          </div>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
