<div class="card my-2">
 <div class="card-body">
   <%=form_with(scope: :review, url: employer_review_path(@employer.id), method: "POST") do |f| %>
    <div class="form-group">
      <%=f.label "Title", class: ''%>
      <%=f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%=f.label "Review"%>
      <%=f.text_area :description, class: 'form-control', rows: '5'%>
    </div>
    <div class="form-group">
      <%=f.hidden_field :rating%>
      <p class="text-center font-weight-bold m-0">Rate this review</p>
      <div class="rating-box my-4">
        <ul id="star-rating" class="d-flex justify-content-center list-inline">
          <li class="list-inline-item star text-muted"><i data-value='1' class="rate-star far fa-star"></i></li>
          <li class="list-inline-item star text-muted"><i data-value='2' class="rate-star far fa-star"></i></li>
          <li class="list-inline-item star text-muted"><i data-value='3' class="rate-star far fa-star"></i></li>
          <li class="list-inline-item star text-muted"><i data-value='4' class="rate-star far fa-star"></i></li>
          <li class="list-inline-item star text-muted"><i data-value='5' class="rate-star far fa-star"></i></li>
        </ul>
      </div>
    </div>
    <%=f.submit 'Submit Review', class: 'd-block mx-auto btn btn-primary'%>
   <% end %>
 </div>
</div>
