<!DOCTYPE html>
<html>
  <head>
    <title>Jobcrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <% if content_for?(:navbar_landing) %>
      <%= yield(:navbar_landing) %>
    <% elsif content_for?(:navbar_special)%>
      <%= yield(:navbar_special) %>
    <% elsif content_for?(:navbar_user) %>
      <%= yield(:navbar_user) %>
    <% end %>
    <div id="flash">
      <% flash.each do |key, value| -%>
      <div class="alert alert-<%= key %> text-middle"><%=h value %></div>
      <% end %>
    </div>
    <%= yield %>
    <%= render partial: 'footer/footer' %>
  </body>
</html>
