<!DOCTYPE html>
<html>
  <head>
    <title>Jobcrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <% if content_for?(:navbar_landing) %>
      <%= yield(:navbar_landing) %>
    <% elsif content_for?(:navbar_special)%>
      <%= yield(:navbar_special) %>
    <% elsif content_for?(:navbar_user) %>
      <%= yield(:navbar_user) %>
    <% end %>
    <div class="backdrop">
    </div>
      <div id="flash">
        <% flash.each do |key, value| -%>
        <div class="alert alert-<%= key %> text-middle"><%=h value %></div>
        <% end %>
      </div>
      <%= yield %>

      <div class="search-window card shadow p-2">
        <div class="search-window-body card-body">
          <div class="row h-100">
            <%= render partial: 'jobs/filter_tab' %>
            <%= render partial: 'jobs/results_tab' %>
          </div>
        </div>
      </div>

    <script>
    $('.backdrop').hide();
    $('#search_result').on('click', function(e) {
      $('.search-window').addClass('visible');
      $('.backdrop').show();
    })
    $(document).click(function(event) {
      if (!$(event.target).closest(".search-window, #search_result").length) {
        $('.search-window').removeClass('visible');
        $('.backdrop').hide();
      }
    });
    </script>
    <%= render partial: 'footer/footer' %>
  </body>
</html>
