<!DOCTYPE html>
<html>
  <head>
    <title>Jobcrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.role == "employer" %>
      <%= link_to "Post a new job", new_job_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
